*{
    margin:0;
    padding:0%;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color:#0d1422 ;
    width: 100%;
    position:fixed;
    top:0;
    z-index: 3;
}

.start{
    display: flex;
    gap:50px;
    align-items: center;
}


.start h1{
    color:white;
}
.start .link, .join{
    text-decoration: none;
    color: rgb(219, 213, 213);
}

.inside{
    display: flex;
    gap:20px;
    align-items: center;
}

.inside button{
    padding:10px 20px;
    border:none;
    border: 1px solid#ced1d3;
    font-weight: 500;
    border-radius: 8px;
    background-color: #ced1d3;
}

.hova:hover{
    color:white;
}
header{
   background-image: url("/humankind/oceania.jpg");
   height: 100vh;
   background-size:cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   gap:20px;
   
   justify-content: center;
   align-items: center;
   /* width: 100%; */
}

header .fighter{
    width:300px;
    /* position: relative; */
}
header  button{
    /* position: absolute;
    top:75%; */
    padding:17px 45px;
    border-radius: 5px;
    background-color: transparent;
    color:white;
    border:1px solid white;
    font-size: 1.5rem;
    font-weight: 500;
}

header button:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}

hr{
    border:5px solid white
}
.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1422;
    flex-direction: column;
   padding: 20px 0px;
   /* gap:30px */
}
.sec1 img{
    width:300px;
    padding: 30px 0px;
   
}

.flex-group{
   display: flex;
   color:white;
   gap:20px;


}

.vid-group{
  display:flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
}

.vid-group video{
    width: 200px;
    /* height: 100px; */
    border-radius: 16px;


}
.vid-title{
    text-transform: uppercase;
position: absolute;
bottom: 40%;
left:5%;
font-size: 1.0rem;
text-align:center;
font-weight: 500;


}

.vid-group h1, .vid-group p {
   width:200px;
   text-align: start;
   font-size: 0.8rem ;

}
.vid-group h1{
   font-size: 0.8rem; 
   font-weight: 600;
   padding: 10px 0px;
   text-transform: uppercase;
   /* text-align: center; */
}

.sec2{
background-image: url('../multimedia/promo-bg.jpg');
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
position: relative;



}

.sec2 img{
    display: flex;
    width:400px;
   
   
    
    

}
.group2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items:center;
    /* text-align: start; */
    font-size: 14px;
    position: absolute;
    top:30px;

}
.group2 div{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.group2 ul {
    margin:10px;
}
.group2 ul li{
    margin-left: 30px;
}
.linkk{
    background-color: #ced1d3;
    color: #0d1422;
    max-width: 100px;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid white;
}

.sect3{
    background-image: url('./second-promo-landscape.jpg');
    background-size: cover;
    height: 100vh;
    /* position: relative; */
    display: flex;
    justify-content: center;
    /* align-items: start; */
    padding: 150px 50px;
    color:white;
}
.sect3-text{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.sect3-col{
    display: flex;
    flex-direction: column;
    width:470px;
    gap: 30px;
}
.sect3 button{
width:180px;
padding: 15px 15px;
border-radius: 10px;
border: 1px solid white;
font-size: 1.4rem;

    /* position: absolute;
    top:15%;
    right:30%; */
}
.sect3-text h1{
    font-size: 2rem;
    width:300px
}
.sect3-text .pp{
    width: 520px;
}
.sect3-text h3{
    font-size: 1.1rem;
}
.sect3-text p{
    font-size: 0.9rem;
}
.sec4{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #0d1422;
    padding:100px 250px;
    gap:10px;
    justify-items: center;
}
.sec4-head{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
}
.sec4-head>img, .sec4-content>img{
    width: 100%;
    object-fit: cover;
    gap:20px;
    border-radius: 10px;
}
.sec4-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
}

.sect4-top{
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./quote_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    position: relative;
    font-size: 25px;
}
.sect4-top .anime-text1{
    animation: anime 7s ease-in-out  infinite ;
    position:absolute;
    width:800px;
    opacity: 0;
}

@keyframes anime {
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
}
.sect4-top .anime-text2{
    animation: anime2 7s ease-in-out  infinite ;
    width:800px;
    position:absolute;
    opacity: 0;
}

@keyframes anime2 {
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
}
.sect4-top .anime-text3{
    animation: anime3 7s ease-in-out  infinite ;
    width:950px;
    position: absolute;
    opacity:0;
}

@keyframes anime3 {
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
}

.sect5{
    background-image:url('./G2G-Background.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    height:50vh;
    padding: 0 90px;
}
.sect5-flex{
    display:flex;
    flex-direction: column;
    gap:20px;
    /* justify-content: center; */
    /* align-items: center; */
    color:white;
    padding:50px 0px;
    font-size: 0.75rem;
    font-weight: 600;

}
.sect5-flex button{
    padding:10px 0px;
    width:300px;
    border-radius:5px;
    border:1px solid white;
    background-color: transparent;
    color:white;
    font-size: 0.8rem;
}
footer{
    height:100vh;
    background-color:#13223f ;
    padding: 30px 90px;
    gap:20px;
    display: flex;
    flex-direction: column;
}
.footer-flex{
display: flex;
align-items: center;
gap:40px;
}
.hr1{
    border:0.5px solid white;
    margin-top:20px;
}
.p-end{
    font-size: 0.72rem;
    color:white;
    line-height: 20px;
}
.p-end1{
    display: flex;
    gap: 40px;
    color:white;

}
.endgame{
    display: flex;
    gap:20px;
}
.btn-end{
    width:200px;
    padding:10px 10px;
    border-radius: 5px;
    border:1px solid white;
    background-color: transparent;
    color:white;
}
.plast{
    color:white;
}